<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="default_web_client_id" translatable="false">162012393958-l2vee152epoip05aq57tkn10qa4i0kqg.apps.googleusercontent.com</string>
    <string n